@font-face{
 font-family: "nevis";
 src: url("fonts/nevis.eot");
 src: url("fonts/nevis.eot?#iefix") format("embedded-opentype"),
 url("fonts/nevis.woff") format("woff"),
 url("fonts/nevis.ttf") format("truetype-opentype"),
 url("fonts/nevis.svg") format("svg");
 font-weight: normal;
 font-style: normal;
}
@font-face{
  font-family:"fajala";
  src: url("fonts/FjallaOne-Regular.ttf")
   format("truetype");
  font-weight: normal;
  font-style: normal;
 }
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
 
 
}
body{
  background-image: url(img/paven.png);
  
}
a{
  color:#529125;
  text-decoration: none;
}

a:visited{
  color:#529125;
  
}
a:hover{
  color:#285616;
}
.gris{
  color: #333333;
}
.red{
  color:#9B2422;
}
.blue{
  color: #0C73F2;
}
.yellow{
  color: #F9C347;
}
/*Formularios*/
input[type="text"],
input[type="email"],
input[type="password"],
select{
  border: 1px solid #c9c9c9;
  box-shadow: 0px 0px 2px #cccc inset;
  background-color: white;
  padding: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: gray;
  transition: all 300ms;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus{
 border: 1px solid #70b231;
 outline: none;
 color:black;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button{
  display: block;
  border-radius: 2px;
  width: 60px;
  padding:3px;
  background-color: #70b231;
  border:1px solid green;
  cursor: pointer;
  color: #ffffff;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover{
 box-shadow: 0px 0px 2px gray ;
}
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active{
  box-shadow: 0px 0px 3px gray inset;
  text-shadow: 0px 0px 1px #cccc;
}
#logotipo{
  text-align: center;
  width: 770px;
  margin: 0px auto;
  padding-top: 20px;
}
#logotipo img{
  display: block;
  text-align: center;
  margin: 0px auto;
  width: 140px;

}


.cabezera h1{
  min-width: 1024px;
  width: 100%;
  height: 80px;
  margin: 0px auto;
  text-align: center;
  margin: 5px;
  text-shadow: 0px 2px 1px #333333;
  text-transform: uppercase;
  transition: all 300ms;
}
.cabezera h1:hover{
 text-shadow: 0px 2px 1px  #333333, 0px 0px 4px #70B231;
}
.cabezera a{
  color: #70B231;
  text-decoration: none;
  font-size: 40px;
  font-family: "Nevis";
  letter-spacing: 4px;
}
/*Barra de navegación*/
#menu{
  width: 105%;
  height: 40px;
  color: #E9E9E9;
  background-color: #333333;
  font-family: sans-serif, helvetica, arial;
  font-size: 14px;
  box-shadow: 0px 0px 2px gray;
}
#menu ul{
  list-style: none;
  margin: 0px auto;
  width: 1130px;
}
#menu > ul > li{
  display: block;
  float:left; 
  padding-left: 20px;
  padding-right: 20px;
  line-height: 40px;
  border-right: 1px solid gray;
  transition: all 300ms;
}
#menu > ul > li:first-child{
  border-left: 1px solid gray;
}
#menu > ul > li:hover{
 background-color:#70B231;
 box-shadow: 0px 0px 6px green inset;
}
#menu > ul > li > a{
  color: #ffffff;
  text-decoration: none;
}
/*menú desplegable*/
#menu > ul > li > ul{
  display: none;
  position: absolute;
  width: 160px;
  box-shadow: 0px 2px 2px gray inset;
  z-index: 1;
}
#menu > ul > li:hover > ul{
  display: block;
}
#menu > ul > li:hover > ul > li{
  display: block;
  background-color: #f2f1f0;
  border-bottom: 1px solid #D6D6D6;
  padding: 8px;
  line-height: 25px ;
  font-size: 13px;
}
#menu > ul > li:hover > ul > li > a{
  color: #666666;
  text-decoration: none;
}
#menu > ul > li:hover > ul > li:hover
{
 box-shadow: 0px 0px 6px #cccc inset;
}
/*fin de menú desplegable*/
/*contenido*/
#contenedor{
  float: left;
  width: 100%;
  height: 1000px;
  margin:0px auto;
}
/*Barra Lateral*/
#lateral, #frase{
  width: 200px;
  float: left;
  margin: 30px;
  background-color: #ffffff;
  border:1px solid #cccc;
  box-shadow: 0px 2px 2px #cccc;
  font-family: sans-serif,arial, helvetica;
}

#lateral .widget{
  display: block;
  margin: 5px auto;
  width:180px;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  border-bottom: 1px dashed #333333;
}
#lateral .widget:last-child{
  margin-bottom: 20px;
}
#lateral h3{
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom:2px;
  padding-top: 2px;
  background-color: #F2F3F2;
  border-top: 1px solid #cccc;
  border-bottom: 1px solid #cccc;
}
#lateral li{
  margin-top:8px;
  margin-bottom: 5px;
  margin-left: 20px;
  list-style:square;
}
/*Formularios Barra Lateral*/
#lateral div label,
#lateral div input[type="text"],
#lateral div input[type="email"],
#lateral div input[type="password"],
#lateral div a{
 display: block;
 width: 95%;
 margin-top:2px;
 margin-bottom: 2px;
}
#lateral div input[type="button"],
#lateral div input[type="submit"],
#lateral div button{
 margin-top: 5px;
 margin-bottom: 10px;
}
#lateral input,
#lateral label{
  margin: 0px auto;
  text-align: center;
}
#frase{
  clear: both;
  padding: 10px;
  font-size: 14px;
}
/*SECCIONES*/
#sections{
  width: 95%;
  font-family: sans-serif,Arial, Helvetica;
  margin-right: 20px;
}
h2{
  font-family:"fajala";
  font-size: 24px;
  font-weight: normal;
  letter-spacing:1px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccc;
}
#sections .parte{
  margin-top: 40px;
  background-color: white;
  padding: 20px;
  border: 1px solid #cccc;
  box-shadow: 0px 0px 4px #c9c9c9;
  color: #333333;
  font-size: 16px;
  overflow: hidden;
}
#sections p{
  margin: 10px;
  margin-top: 20px;
  margin-bottom:20px;
}
.date{
  color: gray;
  font-size: 14px;
}

/*Fin de Barra Lateral*/
.clearfix{
  float: none;
  clear: both;
}
.pie{
  max-width:100%;
  height: 60px;
  color: #ffffff;
  background-color: #333333; 
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 100px;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0px;
}
.pie a{
  text-decoration: none;
  color: #70b231;
}